#flair {
  z-index: 100;
  position: absolute;
  left: 0.5em;
  bottom: 0.5em;
  color: #c00;
}

table.small,
a.small,
p.small,
ul.small,
span.small,
code.small {
  font-size: 75%;
}

table.smaller,
a.smaller,
p.smaller,
ul.smaller,
span.smaller {
  font-size: 50%;
}

.stroke {
  -webkit-text-stroke: 1px white;
}

.stroke-black {
  -webkit-text-stroke: 1px black;
}

.reveal large {
  font-size: 1.2em;
}

.reveal section img.no-border {
  background: transparent;
  border: 0px;
  box-shadow: none;
}

p.attribution,
p a.attribution {
  font-size: small !important;
  display: block;
}

.list-spaced li {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.reveal .list-unstyled {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

.reveal .list-inline {
  display: inline;
}

.reveal .list-inline li {
  display: inline;
}

img.middle {
  vertical-align: middle;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.intro h1 {
  font-weight: 500;
}

.white {
  color: white !important;
}

.orange {
  color: #de7c31 !important;
}

.red {
  color: #c00 !important;
}

.black {
  color: black !important;
}

.blue {
  color: rgb(138, 168, 232) !important;
}

ul.center {
  text-align: center !important;
}

.intro .push-down {
  margin-top: 2.5em;
}

.reveal pre code {
  overflow: hidden;
}

.reveal pre.full-height code {
  max-height: inherit !important;
}

.pull-left {
  left: -8.33%;
  text-align: left;
  float: left;
  width: 49% !important;
  z-index: -10;
  position: static !important;
  margin-left: 0 !important;
}

.pull-right {
  left: 31.25%;
  top: 75px;
  float: right;
  width: 49% !important;
  z-index: -10;
  position: static !important;
  margin-left: 0 !important;
}

pre.wrap {
  white-space: pre-line;
}

.selector-menu li {
  width: 30%;
  font-size: 50%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.list-columns-2 li {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.reveal blockquote {
  background-color: white;
}
