span.attribution.background {
  z-index: 100;
  position: absolute;
  left: 0.5em;
  bottom: 0.5em;
  color: #c00;
}

a.small,
p.small,
ul.small,
span.small {
  font-size: 60%;
}

a.smaller,
p.smaller,
ul.smaller,
span.smaller {
  font-size: 50%;
}

h1.stroke {
  -webkit-text-stroke: 1px white;
}

h2.stroke,
h3.stroke {
  -webkit-text-stroke: 1px white;
}

.reveal large {
  font-size: 1.2em;
}

.reveal section img.no-border {
  background: transparent;
  border: 0px;
  box-shadow: none;
}

p.attribution,
p a.attribution {
  font-size: small !important;
  display: block;
}

.list-spaced li {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

img.middle {
  vertical-align: middle;
}

.text-left {
  text-align: left;
}

.intro h1 {
  font-weight: 500;
}

.white {
  color: white;
}

ul.center {
  text-align: center !important;
}

.intro .bottom-title {
  position: absolute;
  bottom: 0;
  margin-bottom: -2.5em;
}

.intro .push-down {
  margin-top: 2.5em;
}

.reveal pre code {
  overflow: hidden;
}