.blue-box {
  background-image: url("/img/box-blue.png");
  text-align: center;
  color: #000;
  list-style-type: none;
  padding: 0.5em;
  margin-top: 0.25em !important;
}

.green-box {
  background-image: url("/img/box-green.png");
  text-align: center;
  color: #000;
  list-style-type: none;
  padding-left: 0.25em !important;
  padding-right: 0.25em !important;
  margin-top: 0.25em !important;
}

.no-border {
  border: 0 !important;
  background: transparent !important;
}
