span.attribution.background {
  z-index: 100;
  position: absolute;
  left: 0.5em;
  bottom: 0.5em;
  color: #c00;
}

a.small,
p.small,
ul.small,
span.small,
code.small {
  font-size: 60%;
}

a.smaller,
p.smaller,
ul.smaller,
span.smaller {
  font-size: 50%;
}

.stroke {
  -webkit-text-stroke: 1px white;
}

.stroke-black {
  -webkit-text-stroke: 1px black;
}

.reveal large {
  font-size: 1.2em;
}

.reveal section img.no-border {
  background: transparent;
  border: 0px;
  box-shadow: none;
}

p.attribution,
p a.attribution {
  font-size: small !important;
  display: block;
}

.list-spaced li {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

img.middle {
  vertical-align: middle;
}

.text-left {
  text-align: left;
}

.intro h1 {
  font-weight: 500;
}

.white {
  color: white !important;
}

.orange {
  color: #de7c31 !important;
}

.black {
  color: black !important;
}

ul.center {
  text-align: center !important;
}

.intro .bottom-title {
  position: absolute;
  bottom: 0;
  margin-bottom: -2.5em;
}

.intro .push-down {
  margin-top: 2.5em;
}

.reveal pre code {
  overflow: hidden;
}

.reveal pre.full-height code {
  max-height: inherit !important;
}

.left {
  left: -8.33%;
  text-align: left;
  float: left;
  width: 49% !important;
  z-index: -10;
  position: static !important;
  margin-left: 0 !important;
}

.right {
  left: 31.25%;
  top: 75px;
  float: right;
  width: 49% !important;
  z-index: -10;
  position: static !important;
  margin-left: 0 !important;
}
