a.small,
p.small,
ul.small {
  font-size: 60%;
}

.reveal large {
  font-size: 1.2em;
}

.reveal section img.no-border {
  background: transparent;
  border: 0px;
  box-shadow: none;
}

p.attribution,
p a.attribution {
  font-size: small !important;
  display: block;
}

/* chat bubbles */

li.talk-bubble {
  padding: 0.5em;
  margin: 0.5em;
  position: relative;
  height: auto;
  background-color: lightyellow;
}

li.talk-bubble:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: lightyellow transparent transparent transparent;
}

.list-spaced li{
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.topconf h2,
.topconf h3,
.topconf h4,
.topconf p
{
  text-align: left;
  color: white !important;
  font-weight: bold;
}

.topconf ul
{
  text-align: left;
  color: white !important;
}

.topconf .left {
  top: 0;
  left:-8.33%;
  text-align: left;
  float: left;
  width: 50%;
}

.topconf .right {
  left:31.25%;
  float: right;
  width: 50%;
  text-align: left;
}

img.middle {
  vertical-align: middle;
}

.text-left {
  text-align: left;
}
